*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color: #ddd;

}

.header{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: black;
    
    align-items: center;
}

.header .nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    
    
}

.header a {
    
    height: 100%;
    color: white;
    text-decoration: none;
    border-radius: 0%;
    padding: 0px 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    
}

.header a:hover {
    background-color: hsl(40, 100%, 50%,0.7);
}

.banner img{
    width: 100%;
    bo
}

.path ul{
    display: flex;
}

.path ul li{
    position: relative;
    padding: 0px 10px;
}

.path a{
    text-decoration: none;
    color: #aaa;
}
.path li + li ::before{
    content: "/";
    position: absolute;
    left: 0;
    color: #aaa;
}

.wrap{
    width: 800px;
    margin: auto;
    padding: 20px 0;
}

.content{
    display: flex;
    justify-content: space-evenly;
}

.text{
    width: 200px;
}
.text img{
    width: 100%;
}
.text p {
    text-align: center;
}
.wrap > h1 {
    text-align: center;
    font-size: 32px;
    line-height: 2;
    font-weight: bold;
}

.wrap > p {
    display: flex;
    width: 400px;
    text-align: center;
    font-size: 16px;
    line-height: 1.3;
    margin: 10px auto;
}

.about{
    padding-bottom: 20px;
}



.logo{
    display: flex;
    justify-content:center;
    align-items: center;
}

.logo img{
    border-radius:100%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin-left: 10px;
}
.logo a{
    color: white;
    margin-left: 10px;
    font-size: 60px;
    font-weight: bold;
}

.service{
    width: 100%;
    background-color:gray;

}

.service .content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.service .content img{
    width: 40%;
    margin: 0 5%;
}
.service .content div{
    width: 50%;

}
.service .content div h2{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    line-height: 4;

}
.service .content div p{
    line-height:1.5;
    font-size: 1em;
}

.footer{
    width: 100%;
    background-color:black;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p{
    color: white;
    
    
}

.product .content{
    display: flex;
    

}

.product .item{
    border: 1px solid black;
    padding: 10px 10px;
    width: 33.3333%;
    position: relative;
}

.product .item img{
    width: 100%;
}
.product .content h2{
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}
.product .content p{
    text-align: left;
}

.product h6{
    display: inline-block;
    background-color:red;
    color: white;
    padding: 7px;
    position: absolute;
    top: 0;
    left: 0;
    
}